langchain==0.2.16
langchain-community==0.2.16
langchain-groq==0.1.9
langchain-huggingface==0.0.3
faiss-cpu==1.8.0
streamlit==1.38.0
pypdf==4.3.1
pdfplumber==0.11.4
sentence-transformers==3.1.1
python-dotenv==1.0.1
tiktoken==0.7.0
chromadb==0.5.5
pymupdf==1.24.10
pytesseract==0.3.13
Pillow==10.4.0
docx2txt==0.8
python-docx==1.1.2
streamlit-chat==0.1.1
